		.date{
			font-size:50px;
			text-decoration:underline;
		}
		ul{
			padding-left:0; 
			font-family:Arial, sans-serif; 
			font-size:18px;
		}	
			/* puce enlevé; police changé en arial sans-serif; plus grosse ecriture */
		h2{
			border-style:inset;
			color:teal;
			border-top-color:blue;
			border-right-color:#F5FFFA;
			border-left-color:#F5FFFA;
			border-bottom-color:red;
			/* bordure effet 3d , couleur changé, text aligné à droite et rotation du mot de 60 degrés */
		}

		p{
			border-left:6px; 
			background-color:grey;
			border-style:dotted;
			color:EOFFFF;
			font-size:25px;
			font-variant:small-caps;
			direction:rtl;
			
			/* bordure gauche de 6px, fond de couleur gris , bordure en point rond , ecriture agrandit par font-size*/ 
		}
		
		.dipcouleur{
			background-color:#B1F1B2;
		} /*couleur de fond*/
