		ul{
			padding-left:0; 
			font-family:Arial, sans-serif; 
			font-size:18px;
		}
			/* puce enlevé; police changé en arial sans-serif; plus grosse ecriture */
		h2{
			border-style:inset;
			color:white;
			border-top-color:blue;
			border-right-color:#F5FFFA;
			border-left-color:#F5FFFA;
			border-bottom-color:red;
			/* bordure effet 3d , couleur changé, text aligné à droite et rotation du mot de 60 degrés */
		}
		
		
		.tete{
			 border-radius: 25px;
    			 background: url("http://static3.depositphotos.com/1008672/245/i/950/depositphotos_2456252-Old-parchment-texture.jpg");
    			 
			} /* ajout d'une image en fond */
		
		.loicouleur{

			 background-color:#A5DEF1
			} /* couleur de fond*/



